altair
asttokens
attrs
backcall
blinker
Bottleneck 
cachetools
certifi
charset-normalizer
click
colorama
contourpy 
cycler
debugpy
decorator
entrypoints
executing
fonttools
gitdb
GitPython
idna
ipykernel
ipython
jedi
Jinja2
joblib
jsonpickle
jsonschema
jsonschema-specifications
jupyter-core
jupyter_client
kiwisolver 
lxml
MarkupSafe
matplotlib
matplotlib-inline
mkl-service
mkl_fft 
mkl_random 
narwhals
nest-asyncio
networkx
numexpr 
numpy 
packaging
pandas 
parso
pickleshare
pillow 
plotly
prompt-toolkit
protobuf
pure-eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
python-louvain
pytz 
pyvis
pywin32
pyzmq
referencing
requests
rpds-py
scikit-learn
scipy
seaborn 
six
smmap
stack-data
streamlit
tenacity
threadpoolctl
toml
tornado
traitlets
typing_extensions
tzdata 
urllib3
watchdog
wcwidth
